absl-py==0.10.0
addict==2.2.1
albumentations==0.4.6
appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828496740/work
astor==0.8.1
asynctest==0.13.0
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
brotlipy==0.7.0
cachetools==4.1.0
catalyst==20.6
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1596809862272/work
chardet==3.0.4
cityscapesScripts==1.5.0
codecov==2.1.9
configparser==5.0.0
coverage==5.2.1
crc32c==2.0
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
entrypoints==0.3
flake8==3.8.3
future==0.18.2
gast==0.4.0
gitdb==4.0.5
GitPython==3.1.3
google-auth==1.18.0
google-auth-oauthlib==0.4.1
grpcio==1.31.0
h5py==2.10.0
idna==2.9
imagecorruptions==1.1.0
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==1.7.0
iniconfig==1.0.1
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==7.15.0
ipython-genutils==0.2.0
isort==5.4.2
jedi==0.17.1
Jinja2==2.11.2
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kwarray==0.5.9
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mmcv==0.5.1
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.2
notebook @ file:///tmp/build/80754af9/notebook_1596838602091/work
numpy==1.19.0
oauthlib==3.1.0
opencv-python==4.4.0.42
ordered-set==4.0.2
overrides==3.1.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
plotly==4.8.1
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.6.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.5
pytest==6.0.1
pytest-cov==2.10.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
smmap==3.0.4
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.8.13
toml==0.10.1
torch==1.4.0+cu100
torchvision==0.5.0+cu100
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
ubelt==0.9.1
urllib3==1.25.10
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
xdoctest==0.13.0
yapf==0.30.0
zipp==3.1.0
